.projects {
    /* position: relative; */
    display: flex;
    flex-flow: column wrap;
    gap: 2em;
    /* justify-content: space-around; */
}

.projects-header {
    /* display: flex; */
    /* margin-left: 50px; */
}
.projects section {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2em;
}