.intro-container {
    grid-column: 1/3;
    /*span 2 columns*/
    background-color: rgb(26, 33, 56);
    display: flex;
    flex-direction: column;
}

.intro-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.intro-content article h2, .intro-about-me h2{
    color: rgb(238, 238, 239);
    font-size: 3rem;
}

.intro-content article span {
    color: rgb(194, 24, 91);
}

.intro-content article p , .intro-paragraph{
    font-size: 1.5rem;
    color: rgb(174, 176, 180);
    font-weight: 500;
}


.intro-button-container {
    display: flex;
    justify-content: space-between;

}

.paragraph-container {
    margin: auto 130px;
}

.svgPatern {
    display: flex;
    border-radius: 0%;
    /* background: linear-gradient(135deg, #161C1A, #2C3836); */
    width: 400px;
    height: 400px;
}