.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid ;
}

.logo {
    height: 100px;
    width: auto;
    margin: 20px;
    flex-grow: 1;
}

.navbar {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 2em;
    gap: 5em;
}

.navbar li  a{
    padding: 1em;
    /* border: 1em solid; */
    color: #9DA497;
    font-size: 1.5rem;
}
