.App {
  text-align: center;

  /*background-repeat: no-repeat;
   linear-gradient(135deg, rgb(123, 190, 245) 10%, rgb(201, 230, 171))
   */

  background: linear-gradient( #000000, #BA7960, #9DA497);
  background-position: center;
  height: 100%;
  background-size: cover;
  font-family: 'Raleway', sans-serif;
  color: aliceblue;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr repeat(4, 3fr) 1fr;
  grid-template-areas: 
    "header header"
    "intro intro"
    "projects projects"
    "achievements achievements"
    "contacts contacts"
    "footer footer";
  gap: 10px; 
}
.App > * {
  /* border: 2px outset white;  */
}

.app-header {
  grid-area: header;
}

.intro {
  grid-area: intro;
}

.projects {
  grid-area: projects;
}

.achievements {
  grid-area: achievements;
}

.contacts {
  grid-area: contacts;
}

.footer {
  grid-area: footer;
}