.App {
  text-align: center;
  background-image: url("../public/pexels-pixabay-355938.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  background-size: cover;
  font-family: 'Raleway', sans-serif;
  color: aliceblue;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr repeat(4 1fr) 1fr;
  grid-template-areas: 
    "header header"
    "intro intro"
    "projects projects"
    "achievements achievements"
    "contacts contacts"
    "footer footer";
  gap: 10px; 
}
.App > * {
  border: 2px outset white; 
}

.header {
  grid-area: header;
}

.intro {
  grid-area: intro;
}

.projects {
  grid-area: projects;
}

.achievements {
  grid-area: achievements;
}

.contacts {
  grid-area: contacts;
}

.footer {
  grid-area: footer;
}