.resume-link {
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    background-color: transparent;
    outline: currentcolor none 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    text-transform: none;
    font-family: "Inter", sans-serif;
    font-size: 0.9375rem;
    line-height: 1.75;
    min-width: 64px;
    padding: 7px 21px;
    border-radius: 4px;
    border: 1px solid rgba(194, 24, 91, 0.5);
    color: rgb(194, 24, 91);
}

.resume-link:hover {
    background-color: rgba(194, 24, 91, 0.08);
    border: 1px solid rgb(194, 24, 91);
}